* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    position: relative;

}

.container {
    width: 100%;
    max-width: 1430px;
    margin: auto;
    padding: 0%;
    overflow: hidden !important;

}

header {

    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px;

}

.logo div {
    width: 100px;
}

.logo {
    font-size: 35px;
    width: 177px;
    color: #000;
}

.menu-items {
    margin-left: 10px;
    display: inline-block;
}

.link {
    color: #000;
    font-size: 15px;
    font-weight: 600;

}

.logo:hover {
    color: #ff5a87;

}

.link:hover {
    color: #ff5a87;

}



.side-menu {
    position: absolute;
    transition: all 1s ease !important;
    top: 90px;
    left: -300px;
    height: 100vh;
    box-shadow: 0px 0px 5px black;
    padding: 20px 0px;
    text-align: center;
    z-index: 999;
    width: 220px;
    background-color: white;
    opacity: 0;

}

.side-items {

    margin: 20px 0px;
    font-size: 20px;
}

.menu-button {
    display: none;
    position: relative;
    z-index: 99999;
}

.menu-button:hover~.side-menu {
    left: 0;
    opacity: 1;
}

.section-1 {
    margin-top: 100px;
}

.tittle-text {
    text-align: center;
}

#p {
    font-size: 48px;
    font-weight: 900;
}

.text {
    font-size: 30px;
    font-weight: 700;
}

.ap-line {
    font-size: 20px;
}

.q {
    margin: 40px;
}

#a {
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    margin: 30px 0px;
}

.main-box-1 {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.text-box-1 {
    width: 50%;
}

.screen-shot-1 {
    width: 50%;
    position: relative;

}

.t {
    margin: 40px 0;
    line-height: 1.4;
    font-size: 17px;
}

.ss-1 {
    width: 60%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.31);
    border-radius: 10px;
}

.ss-1 img {
    width: 100%;
}

.ss-2 {
    width: 60%;
    position: absolute;
    left: 100px;
    top: 70px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.31);
    border-radius: 10px;

}

.ss-2 img {
    width: 100%;
}

.main-box-2 {
    margin: 50px 0px;
    display: flex;
    justify-content: space-between;
}

.text-box-2 {
    width: 50%;
}

.screen-shot-2 {
    width: 50%;
    position: relative;

}

.ss-div-1 {
    width: 60%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.31);
    border-radius: 10px;
}

.ss-div-1 img {
    width: 100%;
}

.ss-div-2 {


    width: 60%;
    position: absolute;
    left: 100px;
    top: 70px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.31);
    border-radius: 10px;

}

.ss-div-2 img {

    width: 100%;
}

/* 3rd.....  */

.main-box-3 {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.text-box-3 {
    width: 50%;
}

.screen-shot-3 {
    width: 50%;
    position: relative;

}




.ss-img-1 {
    width: 60%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.31);
    border-radius: 10px;

}

.ss-img-1 img {
    width: 100%;
}

.ss-img-2 {

    width: 60%;
    width: 60%;
    position: absolute;
    left: 100px;
    top: 70px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.31);
    border-radius: 10px;
    opacity: 0.9;
}

.ss-img-2 img {

    width: 100%;
}

.color-box input {

    margin-top: 20px;
}

.section {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff5a87;
    background-image: linear-gradient(to right, rgb(255, 211, 218), #f8eef1);
    border-radius: 10px;
}

.color-box {
    margin: auto;
    width: 70%;
    padding: 100px 0px;
}

.tent {
    width: 30%;
    margin-right: 30px;
    background-color: #f1e8eb;
}

.tent img {
    width: 100%;
}

.color-box input {
    padding: 15px 30px;
    width: 50%;
    margin-left: 50px;
    border-radius: 10px;
    outline: none;
    border: none;
}

.color-box h1 {
    margin-left: 50px;
    font-size: 30px;
    font-weight: 800;
}



footer {
    padding-bottom: 20px;
    background-color: #f8e1db;
    margin-top: 100px;


}

.footer {
    width: 80%;
    margin: auto;
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
}

.F-box-1 {
    width: 40%;
    padding-right: 20px;
}

.F-box-2 {
    padding-right: 10px;
}

.F-box-1 p {
    line-height: 1.9;
}

.F-box-1 h5 {
    padding: 30px 0px;
    font-weight: 800;
}

.F-box-2 {
    line-height: 1.9;
}

.app-store {

    width: 70%;
    display: flex;
    justify-content: space-between;
}

.app-btn {
    background-color: #000;
    color: #f8eef1;
    width: 124px;
    text-align: center;
    padding: 5px 0px;
    border-radius: 5px;
}

.app-btn a {
    color: #fff;
    font-size: 15px;

}

.reserved {
    width: 40%;
    margin: auto;
    text-align: center;
}















@media (max-width:991px) {
    .menu {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .main-box-1 {
        flex-wrap: wrap;
    }

    .text-box-1 {
        width: 100%;
        text-align: center;
    }

    .screen-shot-1 {
        width: 100%;


    }

    .main-box-2 {
        flex-wrap: wrap;

    }


    .screen-shot-2 {
        width: 100%;
    }

    .text-box-2 {
        width: 100%;
        margin-top: 50px;
        text-align: center;

    }

    .main-box-3 {
        flex-wrap: wrap;
    }

    .text-box-3 {
        margin-top: 50px;
        width: 100%;
        text-align: center;

    }

    .screen-shot-3 {
        width: 100%;
        text-align: center;
    }
}

@media (max-width:850px) {
    #p {
        font-size: 30px;
    }

    .screen-shot-1 {
        width: 90%;
        margin: 70px auto;
    }

    .screen-shot-2 {
        width: 90%;
        margin: 70px auto;
    }

    .screen-shot-3 {
        width: 90%;
        margin: 70px auto;
    }

    .text-box-1 h1 {
        font-size: 30px;
    }

    .text-box-2 h1 {
        font-size: 30px;
    }

    .text-box-3 h1 {
        font-size: 30px;
    }

}

@media (max-width:768px) {

    .footer {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .F-box-1 {
        width: 100%;
    }

    .F-box-2 {
        margin: 20px auto;
        text-align: center;
        width: 100%;
        line-height: 1.6;
        font-size: 14px;
        border: 1px soli #ddd;
    }





    .footer {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .F-box-1 {
        width: 100%;
    }

    .F-box-2 {
        margin: 20px auto;
        text-align: center;
        width: 100%;
        line-height: 1.6;
        font-size: 14px;
        border: 1px soli #ddd;
    }

}

@media (max-width:576px) {
    .footer h4 {
        font-size: 14px;
    }

    .F-box-1 {
        width: 20%;
    }

    .F-box-1 {
        width: 100%;
    }

    .F-box-2 {
        margin: 20px auto;
        text-align: center;
        width: 100%;
        line-height: 1.6;
        font-size: 14px;
        border: 1px soli #ddd;
    }

    .F-box-2 i {
        display: inline-block;
    }

    .screen-shot-1 {
        width: 90%;
        margin: auto;
    }

    .screen-shot-2 {
        width: 90%;
        margin:50px auto;
    }

    .screen-shot-3 {
        width: 90%;
        margin: auto;
    }

    .text-box-1 {
        margin-top: 100px;
    }

    .text-box-2 {
        margin-top: 100px;

    }

    .text-box-3 {
        margin-top: 100px;

    }

   .section{
    flex-wrap: wrap;
   }
    .color-box{
  width: 100%;
    }
    .color-box h1{
        text-align: center;
    }
    .tent{
        width: 35%;
        margin:20px auto;
        
    }
    .color-box input{
        width: 60%;
        margin: 0px 40px;

    }

}

@media (max-width:330px) {
    .screen-shot-1 {
        margin-bottom: 50px;
    }


    .text-box-1 h1 {
        font-size: 20px;
    }

    .text-box-2 {}

    .text-box-3 {}
}